$primary-color: rgb(250, 250, 250);
$secondary-color: rgb(236, 0, 80);
$tertiary-color: rgb(229, 237, 232);
$stats-text-color: rgb(88, 49, 91);

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  background-color: black;
}

.card {
  margin: 100px 0px 0px 100px;
  height: 750px;
  width: 375px;
}

.card-top {
  background-color: $primary-color;
  position: relative;
  height: 50%;
  padding: 10px;
  & .player-list {
    position: relative;
    padding: 10px;
    width: 100%;
    background-color: rgb(234, 234, 234);
    border: none;
    color: $stats-text-color;
    font-weight: 700;
  }
}

.card-bottom {
  background-color: $secondary-color;
  position: relative;
  height: 50%;

  & .team-container {
    position: absolute;
    width: 30%;
    height: 30%;
    left: 65%;
    top: -15%;
    border-radius: 50%;


    & .card-img {
      position: relative;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      padding: 2px;
    }
  }


  & .card-stats {
    padding: 20px;

    & h1 {
        color: white;
        font-weight: 100;
        font-size: 1.6rem;
    }
    & h2 {
        color: white;
        font-weight: 100;
        font-size: 1.2rem;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    & li {
        background-color: $tertiary-color;
        margin-top: 3px;
        list-style: none;
        padding: 10px;
        color: $stats-text-color;
        font-weight: 500;
    }


  }
}
